services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend_spring
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: ${DB_NAME}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      HOST_FRONTEND_1: ${HOST_FRONTEND_1}
      HOST_FRONTEND_2: ${HOST_FRONTEND_2}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend_network
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend_network

volumes:
  db_data:
networks:
  backend_network:
    driver: bridge
  